.section-container {
  height: 50vh;
}

.section {
  margin: 10px 0 10px;
}

.center-vertically {
  display: flex;
  justify-content: center;
  align-items: center;
}

//
// Error
//

.error {
  color: lightcoral;
}

.placeholder {
  color: lightgray;
}
