.section-container {
  height: 50vh;
}

.section {
  margin: 10px 0 10px;
}

.center-vertically {
  display: flex;
  justify-content: center;
  align-items: center;
}

//
// Error
//

.error {
  color: lightcoral;
}

.placeholder {
  color: lightgray;
}

.in-focus {
  color: #212121 !important;
  transition: color 0.5s;
  transition-timing-function: ease-in;
}

.out-of-focus {
  color: #bdbdbd !important;
  transition: color 0.5s;
  transition-timing-function: ease-in;
}

//
// Debug
//

.debug-top {
  min-height: 10px;
  min-width: 10px;
  background: red;
}

.debug-bottom {
  min-height: 10px;
  min-width: 10px;
  background: blue;
}
