<app-hexagon-map [id]="'header'"
         [interactiveEnabled]=false
         [scrollZoomEnabled]=false
         [results]="['isochrones-all-15']"
         [aggregateProperty]="'mean_spatial_distance_15min'"
         [height]="'100vh'"></app-hexagon-map>
<app-landing-overlay></app-landing-overlay>
<mat-toolbar #toolbar [ngClass]="{'sticky-header': toolbarSticky }">
  <button mat-button *ngFor="let sectionHeader of sectionHeaders" (click)="scrollToElement(sectionHeader.id)">
    {{ sectionHeader.title }}
  </button>
  <button *ngIf="isDev" mat-button color="accent" routerLink="experiments">
    Experimente
  </button>
</mat-toolbar>
<div class="story-container" [ngClass]="{'sticky-container': toolbarSticky }">

  <app-section-header #background id="background"
                      title="Urbane Mobilität Hintergründe"></app-section-header>
  <ng-container>
    <app-section [chapters]="['mobilitaetsgesetz']"></app-section>
    <app-section [chapters]="['mobilitaetsgesetz-kritik']"></app-section>
    <app-section [chapters]="['mobilitaet-verstehen']"></app-section>
  </ng-container>
    <img id="rosenthaler_platz_img" src="assets/img/rosenthaler_platz.jpg" alt="Rosenthaler Platz beim Sonnenuntergang">

</div>
<div class="quote-container"><div class="quote">Kennt ihr Deutschland?<br/>
Im Süden die Berge<br/>
Im Norden das Meer<br/>
Und dazwischen:<br/>
Teer.<br/>
Aber wirklich nur Teer?<br/>
Es gibt doch noch mehr!<br/>
Ja, genau.<br/>
Stau.</div> <div class="name">Marc-Uwe Kling: Die Känguru Chroniken</div></div>
<div class="story-container">
  <app-section-header #understanding id="understanding"
                      title="Urbane Mobilität verstehen"></app-section-header>

  <app-section [chapters]="['verstehen-intro']"></app-section>

  <ng-container>
    <div class="text-container">
      <app-section [height]="'500px'" [chapters]="['lebensraeume']"></app-section>
      <app-section [height]="'500px'" [chapters]="['arbeitsraeume']"></app-section>
      <app-section [height]="'500px'" [chapters]="['strassen-infrastruktur']"></app-section>
      <p> Durchschnittsgeschwindigkeit auf Berliner Straßen </p>
        <canvas height="100px" id="speedTimeChart">{{ speedTimeChart }}</canvas>
        <p>Wochentag&nbsp;&nbsp;&nbsp;&nbsp;<mat-slide-toggle
           class="example-margin"
           [color]="toggle_color"
           (change)="onChange($event)">
       </mat-slide-toggle>&nbsp;&nbsp;&nbsp;&nbsp;Wochenende</p>
      <app-section [height]="'500px'" [chapters]="['fahrrad-infrastruktur']"></app-section>
      <app-section [height]="'500px'" [chapters]="['oepnv']"></app-section>
    </div>
    <div class="map-container">
      <app-map [id]="'map-understanding'"
               [style]="mapBoxStyleEnum.LIGHT_V10"
               [zoom]="11"
               [interactiveEnabled]=false
               [boundingBox]="boundingBoxEnum.BERLIN"
               [results]="['allowed_car_speed']">
             </app-map>
    </div>
  </ng-container>
</div>

<div class="story-container">
  <app-section-header #visibility id="visibility"
                      title="Mobilität in der Stadt sichtbar machen"></app-section-header>
  <app-section [chapters]="['visibility-isochrones']"></app-section>
  <ng-container>
    <div class="text-container">
      <div *ngFor="let section of sectionsVisibilityWalk">
        <div class="section-container center-vertically">
          <app-section [chapters]="section.chapters"></app-section>
        </div>
        <div class="marker-container">
          <app-layer-marker [layers]="section.layers"
                            (layerMarkerVisibleEventEmitter)="onLayerMarkerEventTriggered('visibility-walk', $event)"></app-layer-marker>
        </div>
      </div>
    </div>
    <div class="map-container">
      <app-map [id]="'map-visibility-walk'"
               [height]="'500px'"
               [style]="mapBoxStyleEnum.DARK_V10"
               [zoom]="12"
               [center]="placeEnum.FOM"
               [interactiveEnabled]=false
               [initialOpacity]="0"
               [opacities]="opacitiesVisibilityWalk"
               [results]="[
                'isochrones-walk-25-52.5119408-13.3161495',
                'isochrones-walk-15-52.5119408-13.3161495',
                'isochrones-walk-5-52.5119408-13.3161495'
              ]">
      </app-map>
    </div>
  </ng-container>
</div>
<div class="story-container">
  <ng-container>
    <div class="text-container">
      <div *ngFor="let section of sectionsVisibilitySubway">
        <div class="section-container center-vertically">
          <app-section [chapters]="section.chapters"></app-section>
        </div>
        <div class="marker-container">
          <app-layer-marker [layers]="section.layers"
                            (layerMarkerVisibleEventEmitter)="onLayerMarkerEventTriggered('visibility-subway', $event)"></app-layer-marker>
        </div>
      </div>
    </div>
    <div class="map-container">
      <app-map [id]="'map-visibility-subway'"
               [height]="'500px'"
               [style]="mapBoxStyleEnum.DARK_V10"
               [zoom]="11"
               [center]="placeEnum.FOM"
               [interactiveEnabled]=false
               [initialOpacity]="0"
               [opacities]="opacitiesVisibilitySubway"
               [results]="[
                'isochrones-subway-25-52.5119408-13.3161495',
                'isochrones-subway-15-52.5119408-13.3161495',
                'isochrones-subway-5-52.5119408-13.3161495'
              ]">
      </app-map>
    </div>
  </ng-container>
</div>


<div class="story-container">
  <app-section-header #problems id="problems"
                      title="Probleme in der Infrastruktur erkennnen"></app-section-header>
  <ng-container>
    <div class="text-container">
      <div *ngFor="let section of sectionsProblems">
        <div class="section-container center-vertically">
          <app-section [chapters]="section.chapters"></app-section>
        </div>
        <div class="marker-container">
          <app-layer-marker [layers]="section.layers"
                            (layerMarkerVisibleEventEmitter)="onLayerMarkerEventTriggered('problems', $event)"></app-layer-marker>
        </div>
      </div>
    </div>
    <div class="map-container">
      <app-hexagon-map [id]="'map-problems'"
                       [height]="'50vh'"
                       [style]="mapBoxStyleEnum.DARK_V10"
                       [zoom]="9"
                       [boundingBox]="boundingBoxEnum.BERLIN"
                       [interactiveEnabled]=false
                       [initialOpacity]="0"
                       [opacities]="opacitiesProblems"
                       [results]="[
                         'isochrones-drive-15',
                         'isochrones-bike-15',
                         'isochrones-bus-15',
                         'isochrones-light_rail-15',
                         'isochrones-subway-15',
                         'isochrones-tram-15',
                         'isochrones-all-15'
                       ]"
                       [aggregateProperty]="'mean_spatial_distance_15min'">
      </app-hexagon-map>
    </div>
  </ng-container>
</div>

<div class="story-container">
  <app-section-header #whitespots id="whitespots"
                      title="Wichtige White Spots"></app-section-header>

  <app-section [chapters]="['whitespots-auto']"></app-section>

  <app-hexagon-map class="full-width"
                   [id]="'map-summary'"
                   [style]="mapBoxStyleEnum.DARK_V10"
                   [zoom]="11"
                   [boundingBox]="boundingBoxEnum.BERLIN"
                   [interactiveEnabled]=false
                   [results]="['isochrones-all-15']"
                   [aggregateProperty]="'mean_spatial_distance_15min'"></app-hexagon-map>
</div>

<app-footer [sectionHeaders]="sectionHeaders"></app-footer>
