<app-map [id]="'header'"
         [height]="'100vh'"
         [interactiveEnabled]=false
         [scrollZoomEnabled]=false
         [hexResults]="['isochrones-all-15']"
         [hexAggregateProperty]="'mean_spatial_distance_15min'"></app-map>
<app-landing-overlay></app-landing-overlay>
<mat-toolbar #toolbar [ngClass]="{'sticky-header': toolbarSticky }">
  <button mat-button *ngFor="let sectionHeader of sectionHeaders" (click)="scrollToElement(sectionHeader.id)">
    {{ sectionHeader.title }}
  </button>
  <button *ngIf="isDev" mat-button color="accent" routerLink="experiments">
    Experimente
  </button>
</mat-toolbar>

<div class="story-container" [ngClass]="{'sticky-container': toolbarSticky }">

  <app-section-header #background id="background"
                      title="Urbane Mobilität Hintergründe"></app-section-header>
  <ng-container>
    <app-section [chapters]="['mobilitaetsgesetz']"></app-section>
    <app-section [chapters]="['mobilitaetsgesetz-kritik']"></app-section>
    <app-section [chapters]="['mobilitaet-verstehen']"></app-section>
  </ng-container>
  <img id="rosenthaler_platz_img" src="assets/img/rosenthaler_platz.jpg" alt="Rosenthaler Platz beim Sonnenuntergang">

</div>

<app-quote [title]="'Kennt ihr Deutschland?'"
           [textLines]="[
            'Im Süden die Berge',
            'Im Norden das Meer',
            'Und dazwischen:',
            'Teer.',
            'Aber wirklich nur Teer?',
            'Es gibt doch noch mehr!',
            'Ja, genau.',
            'Stau.'
            ]"
           [author]="'Marc-Uwe Kling: Die Känguru Chroniken'"></app-quote>

<div class="story-container">
  <app-section-header #understanding id="understanding" title="Urbane Mobilität verstehen"></app-section-header>
  <app-section [chapters]="['verstehen-intro']"></app-section>
  <ng-container>
    <div class="text-container">
      <app-section [height]="'500px'" [chapters]="['lebensraeume']" [layers]="['residential']"
                   (sectionInViewportEventEmitter)="onLayerMarkerEventTriggered('understanding', $event)"></app-section>
      <app-section [height]="'500px'" [chapters]="['lebensraeume-dichte']"
                   [layers]="['berlin-inhabitants-improved']"
                   [popupMarkers]="[placeEnum.ZIP_10623_CHARLOTTENBURG,
                                    placeEnum.ZIP_12107_BUCKOW_LICHTENRADE_MARIENDORF_MARIENFELDE_TEMPELHOF,
                                    placeEnum.ZIP_12623_KAULSDORF_MAHLSDORF]"
                   (sectionInViewportEventEmitter)="onLayerMarkerEventTriggered('understanding', $event)"></app-section>
      <app-section [height]="'500px'" [chapters]="['arbeitsraeume']"
                   [layers]="['commercial', 'industrial','university']"
                   (sectionInViewportEventEmitter)="onLayerMarkerEventTriggered('understanding', $event)"></app-section>
      <app-section [height]="'500px'" [chapters]="['strassen-infrastruktur']" [layers]="['allowed_car_speed']"
                   (sectionInViewportEventEmitter)="onLayerMarkerEventTriggered('understanding', $event)"></app-section>
      <app-speed-graph [speedTimeTitle]="'Durchschnittsgeschwindigkeit auf Berliner Straßen'"
                       [weekdayColor]="'#3cba9f'"
                       [weekendColor]="'#ba3c9f'"
                       [labelWeekday]="'Wochentag'"
                       [labelWeekend]="'Wochenende'"></app-speed-graph>
      <app-section [height]="'500px'" [chapters]="['fahrrad-infrastruktur']"
                   [layers]="['berlin-bicycleedges-important-ways']"
                   (sectionInViewportEventEmitter)="onLayerMarkerEventTriggered('understanding', $event)"></app-section>
      <app-section [height]="'500px'" [chapters]="['oepnv']"
                   [layers]="['stations-bus', 'stations-light_rail', 'stations-subway', 'stations-tram']"
                   (sectionInViewportEventEmitter)="onLayerMarkerEventTriggered('understanding', $event)"></app-section>
    </div>
    <div class="map-container">
      <app-map [id]="'map-understanding'"
               [displayName]="'Berlin Verkehr und Pendlerziele'"
               [style]="mapBoxStyleEnum.LIGHT_V10"
               [zoom]="11"
               [interactiveEnabled]=false
               [boundingBox]="boundingBoxEnum.BERLIN"
               [popupMarkers]="popupMarkersUnderstanding"
               [initialOpacity]="0"
               [opacities]="opacitiesUnderstanding"
               [multiLegend]="true"
               [multiLegendContents]="{'residential': {'rgba(229, 57, 53, 0.5)':'Wohnräume / Wohngebäude'},
                                       'commercial': {'rgba(30, 136, 229, 0.5)': 'Handel & Dienstleistungen'},
                                       'industrial': {'rgba(253, 216, 53, 0.5)':'Industrie'},
                                       'college': {'rgba(65,171,93, 0.5)':'College'},
                                       'university': {'rgba(0,104,55, 0.5)':'Universitäten'},
                                       'allowed_car_speed': {'rgba(255,201,148,1)':'Tempo 30','rgba(86,157,179,1)':'Tempo 50' },
                                       'stations-bus':  {'rgba(137, 56, 143, 0.5)':'Bus'},
                                       'stations-light_rail': {'#03894C':'S-Bahn'},
                                       'stations-subway': {'#0860A6':'U-Bahn'},
                                       'stations-tram': {'#E02B25':'Tram'},
                                       'berlin-bicycleedges-important-ways': {'rgba(146,197,222,1)': '0m','rgba(67,147,195,1)': '100m', 'rgba(33,102,172,1)': '250m', 'rgba(244,165,130,1)': '500m', 'rgba(214,96,77,1)': '1000m', 'rgba(178,24,43,1)':'1500m'},
                                       'berlin-inhabitants-improved':{'rgba(255,247,236,0.5)': '0 Einw. / KM²','rgba(179,0,0,0.5)': '8500 Einw. / KM²', 'rgba(20,0,0,0.5)': '35000 Einw. / KM²'}}"
               [multiLegendGradient]="{'residential': false,
                                       'commercial': false,
                                       'industrial': false,
                                       'university': false,
                                       'college': false,
                                       'allowed_car_speed': false,
                                       'stations-bus': false,
                                       'stations-light_rail': false,
                                       'stations-subway': false,
                                       'stations-tram': false,
                                       'berlin-bicycleedges-important-ways': false,
                                       'berlin-inhabitants-improved':true}"


               [results]="['residential', 'commercial', 'industrial', 'allowed_car_speed', 'stations-bus',
               'stations-light_rail', 'stations-subway', 'stations-tram', 'berlin-bicycleedges-important-ways', 'berlin-inhabitants-improved', 'university','college']">
      </app-map>
    </div>
  </ng-container>
</div>

<div class="story-container">
  <app-section-header #visibility id="visibility" title="Mobilität in der Stadt sichtbar machen"></app-section-header>
  <app-section [chapters]="['visibility-isochrones']"></app-section>
  <ng-container>
    <div class="text-container-fixed">
      <app-section [height]="mapHeight" [chapters]="['visibility-isochrones-walk']"></app-section>
    </div>

    <div class="map-container">
      <app-map [id]="'map-visibility-walk'"
               [displayName]="'Isochrone zu Fuß - Start: FOM Hochschule'"
               [legendContents]="{'#08306b': '0 min', '#6baed6':'15 min', '#f7fbff': '30 min'}"
               [height]="mapHeight"
               [style]="mapBoxStyleEnum.DARK_V10"
               [zoom]="12"
               [center]="placeEnum.FOM"
               [interactiveEnabled]=false
               [initialOpacity]="0"
               [opacities]="opacitiesVisibilityWalk"
               [results]="resultsVisibilityWalk">
      </app-map>
    </div>
    <div class="text-container">
      <app-section *ngFor="let section of sectionsVisibilityWalk"
                   [height]="'10vh'"
                   [chapters]="section.chapters"
                   [layers]="section.layers"
                   (sectionInViewportEventEmitter)="onLayerMarkerEventTriggered('visibility-walk', $event)"></app-section>
    </div>
  </ng-container>
</div>
<div class="story-container">
  <ng-container>
    <div class="text-container-fixed">
      <app-section [height]="mapHeight" [chapters]="['visibility-isochrones-transport']"></app-section>
    </div>

    <div class="map-container">
      <app-map [id]="'map-visibility'"
               [displayName]="'Isochrone ÖPNV - Start: FOM Hochschule'"
               [legendContents]="{'#081d58': '0 min', '#41b6c4':'15 min', '#ffffd9': '30 min'}"
               [height]="mapHeight"
               [style]="mapBoxStyleEnum.DARK_V10"
               [zoom]="12"
               [center]="placeEnum.FOM"
               [interactiveEnabled]=false
               [initialOpacity]="0"
               [opacities]="opacitiesVisibilityTransport"
               [results]="resultsVisibilityTransport">
      </app-map>
    </div>
    <div class="text-container">
      <app-section *ngFor="let section of sectionsVisibilityTransport"
                   [height]="'10vh'"
                   [chapters]="section.chapters"
                   [layers]="section.layers"
                   (sectionInViewportEventEmitter)="onLayerMarkerEventTriggered('visibility-transport', $event)"></app-section>
    </div>
  </ng-container>
</div>

<app-quote [textLines]="['Frühschicht schweigt, jeder bleibt für sich', 'Frust kommt auf, denn der Bus kommt nicht']"
           [author]="'Peter Fox: Schwarz zu Blau'"></app-quote>

<div class="story-container">
  <ng-container>
    <app-section-header #problems id="problems" title="Probleme in der Infrastruktur erkennnen"></app-section-header>
    <app-section [chapters]="['whitespots-intro']"></app-section>
    <div class="text-container">
      <app-section [height]="mapHeight"
                   [chapters]="['whitespots-auto']"
                   [layers]="['isochrones-drive-15']"></app-section>
    </div>
    <div class="map-container">
      <app-map [id]="'map-problems-drive'"
               [displayName]="'Anbindungsqualität - Durchschnittliche Distanz der 15 min Isochrone'"
               [legendContents]="{'rgba(150, 0, 132, 0.6)': '0 KM', 'rgba(249, 168, 37, 0.6)':'8 KM', 'rgba(12, 123, 104, 0.6)': '3 km'}"
               [height]="mapHeight"
               [style]="mapBoxStyleEnum.DARK_V10"
               [zoom]="9"
               [boundingBox]="boundingBoxEnum.BERLIN"
               [interactiveEnabled]=false
               [initialOpacity]="100"
               [hexResults]="['isochrones-drive-15']"
               [hexAggregateProperty]="'mean_spatial_distance_15min'"
               [hexBinLimit]="'3'">
      </app-map>
    </div>
  </ng-container>
</div>

<div class="story-container">
  <ng-container>
    <div class="text-container">
      <app-section *ngFor="let section of sectionsProblems"
                   [height]="mapHeight"
                   [chapters]="section.chapters"
                   [layers]="section.layers"
                   (sectionInViewportEventEmitter)="onLayerMarkerEventTriggered('problems', $event)"></app-section>
    </div>
    <div class="map-container">
      <app-map [id]="'map-problems'"
               [displayName]="'Anbindungsqualität - Durchschnittliche Distanz der 15 min Isochrone'"
               [legendContents]="{'rgba(150, 0, 132, 0.6)': '0 KM', 'rgba(249, 168, 37, 0.6)':'6.5 KM', 'rgba(12, 123, 104, 0.6)': '13 km'}"
               [height]="mapHeight"
               [style]="mapBoxStyleEnum.DARK_V10"
               [zoom]="9"
               [boundingBox]="boundingBoxEnum.BERLIN"
               [interactiveEnabled]=false
               [initialOpacity]="0"
               [opacities]="opacitiesProblems"
               [hexResults]="resultsProblems"
               [hexAggregateProperty]="'mean_spatial_distance_15min'"
               [hexBinLimit]="'3'">
      </app-map>
    </div>
  </ng-container>
</div>

<div class="story-container">
  <app-section-header #whitespots id="whitespots"
                      title="Wichtige White Spots"></app-section-header>
  <app-section [chapters]="['whitespots-viw']" [flyToBoundingBox]="boundingBoxEnum.BERLIN"
               (sectionInViewportEventEmitter)="onLayerMarkerEventTriggered('whitespots', $event)"></app-section>
  <div class="text-container">
    <app-section *ngFor="let section of sectionsWhitespot"
                 [height]="mapHeight"
                 [chapters]="section.chapters"
                 [layers]="section.layers"
                 [flyToLocation]="section.flyToLocation"
                 (sectionInViewportEventEmitter)="onLayerMarkerEventTriggered('whitespots', $event)"></app-section>
  </div>
  <div class="map-container">
    <app-map [id]="'map-whitespots'"
             [style]="mapBoxStyleEnum.LIGHT_V10"
             [zoom]="11"
             [boundingBox]="boundingBoxEnum.BERLIN"
             [popupMarkers]="[placeEnum.TEGEL, placeEnum.SPANDAU, placeEnum.GEWERBEGEBIET_BRITZ, placeEnum.LANDSBERGER_ALLEE, placeEnum.CHARLOTTENBURGNORD]"
             [interactiveEnabled]="isDev"
             [fullScreenControlEnabled]="isDev"
             [flyToLocation]="flyToLocationWhitespots"
             [flyToBoundingBox]="flyToBoundingBoxWhitespots"
             [results]="['commercial','industrial', 'university']"
             [hexResults]="['isochrones-all-15']"
             [hexAggregateProperty]="'mean_spatial_distance_15min'"
             [hexBinLimit]="'3'"
             [hexBinThreshold]="'1600'"
             [hexColorRamp]="colorRampEnum.LUFTDATEN_COLOR_RAMP_ALARM"></app-map>
  </div>
</div>

<app-footer [sectionHeaders]="sectionHeaders"></app-footer>
