mat-toolbar {
  background: white;

  box-shadow: 0 10px 20px -20px #000;
  border-bottom: 3px solid rgba(255, 255, 255, 0);
  transition: 0.2s ease-out background, border;

  z-index: 4;
}

$story-container-margin-top: 100px;
$toolbar-height: 64px;

app-section-header {
  padding-top: 1.5 * $toolbar-height;
  margin-top: - 1.5 * $toolbar-height;
  display: inline-block
}

app-map {
  margin-top: 20px;
  margin-bottom: 20px;
}

.sticky-header {
  position: fixed;
  top: 26px;
  width: 100%;
}

.sticky-container {
  margin-top: $story-container-margin-top + $toolbar-height !important;
}

.story-container {
  width: 100%;
  max-width: 1200px;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 0.5fr 6fr 0.5fr 2fr;
  grid-template-rows: auto;
  margin: 0 auto;
  margin-top: $story-container-margin-top;
}

.story-container > app-text, .story-container > h1, .story-container > h2, .story-container > h3 {
  grid-column-start: 2;
  grid-column-end: 3;
}

.story-container > * {
  grid-column-start: 1;
  grid-column-end: 4;
}


@media (max-width: 1300px) {
  .story-container {
    max-width: 900px;
    grid-template-columns: 0.5fr 6fr 0.5fr 0.5fr;
  }
}


@media (max-width: 950px) {
  .story-container {
    width: auto;
    grid-template-columns: 0.5fr 6fr 1fr;
  }

  .story-container > * {
    grid-column-start: 2;
    grid-column-end: 3;
    width: inherit;
  }
}
