<mat-toolbar #toolbar [ngClass]="{'sticky-header': toolbarSticky }">
  <button mat-button *ngFor="let sectionHeader of sectionHeaders" (click)="scrollToElement(sectionHeader.id)">
    {{ sectionHeader.title }}
  </button>
</mat-toolbar>
<div id="story_container" class="story_container" [ngClass]="{'sticky-container': toolbarSticky }">
  <app-section-header id="challenge" title="Urbane Mobilität als Herausforderung"></app-section-header>

  <app-section [chapters]="['berliner-mobilitaetsgesetz']"></app-section>
  <app-section [chapters]="['quellen-des-verkehrs']"></app-section>
  <app-section [chapters]="['lebensraeume']"></app-section>

  <app-map [id]="'inhabitants'"
           [height]="'500px'"
           [style]="mapBoxStyleEnum.LIGHT_V10"
           [zoom]=10
           [center]="placeEnum.BRANDENBURG_GATE"
           [markers]=[]
           [clickableMarkers]=[]
           [fullScreenControlEnabled]=true
           [results]="['berlin-inhabitants']"></app-map>

  <app-section [chapters]="['arbeitsraeume']"></app-section>

  <app-map [id]="'commercial'"
           [height]="'500px'"
           [style]="mapBoxStyleEnum.LIGHT_V10"
           [zoom]=10
           [center]="placeEnum.BRANDENBURG_GATE"
           [markers]=[]
           [clickableMarkers]=[]
           [fullScreenControlEnabled]=true
           [results]="['POI-retail-commercial']"></app-map>

  <app-section-header id="situation" title="Aktuelle Verkehrssituation"></app-section-header>

  <app-section [chapters]="['verkehrsnetze']"></app-section>

  <app-map [id]="'traffic'"
           [height]="'500px'"
           [style]="mapBoxStyleEnum.LIGHT_V10"
           [zoom]=10
           [center]="placeEnum.BRANDENBURG_GATE"
           [markers]=[]
           [clickableMarkers]=[]
           [fullScreenControlEnabled]=true
           [results]="['uber_mean_speed']"></app-map>

  <app-section [chapters]="['erreichbarkeit']"></app-section>
  <app-section [chapters]="['auslastung-der-infrastruktur']"></app-section>

  <app-map [id]="'experiment'"
           [height]="'500px'"
           [style]="mapBoxStyleEnum.LIGHT_V10"
           [zoom]=10
           [center]="placeEnum.BRANDENBURG_GATE"
           [markers]=[]
           [clickableMarkers]=[]
           [fullScreenControlEnabled]=true
           [parametrizeOpacityEnabled]=true
           [results]="['berlin-inhabitants', 'POI-retail-commercial', 'uber_mean_speed']"></app-map>

  <app-map [id]="'vbb-stations'"
           [height]="'500px'"
           [style]="mapBoxStyleEnum.DARK_V10"
           [zoom]=10
           [center]="placeEnum.BRANDENBURG_GATE"
           [markers]=[]
           [clickableMarkers]=[]
           [fullScreenControlEnabled]=true
           [parametrizeOpacityEnabled]=true
           [results]="['vbb-stations']"></app-map>

  <app-map [id]="'vbb-stations-s-u-bahn'"
           [height]="'500px'"
           [style]="mapBoxStyleEnum.DARK_V10"
           [zoom]=10
           [center]="placeEnum.BRANDENBURG_GATE"
           [markers]=[]
           [clickableMarkers]=[]
           [fullScreenControlEnabled]=true
           [parametrizeOpacityEnabled]=true
           [results]="['vbb-stations-s-u-bahn']"></app-map>
</div>
