<mat-toolbar #toolbar [ngClass]="{'sticky-header': toolbarSticky }">
  <button mat-button *ngFor="let sectionHeader of sectionHeaders" (click)="scrollToElement(sectionHeader.id)">
    {{ sectionHeader.title }}
  </button>
</mat-toolbar>
<div id="story-container" class="story-container" [ngClass]="{'sticky-container': toolbarSticky }">
  <app-section-header #challenge id="challenge"
                      title="Urbane Mobilität als Herausforderung"></app-section-header>

  <ng-container>
    <app-section [chapters]="['berliner-mobilitaetsgesetz']"></app-section>
  </ng-container>

  <app-section-header #sources id="sources"
                      title="Quellen des Verkehrs"></app-section-header>

  <ng-container>
    <app-section [chapters]="['quellen-des-verkehrs']"></app-section>
    <app-section [chapters]="['lebensraeume']"></app-section>
    <app-map [id]="'inhabitants'" [style]="mapBoxStyleEnum.LIGHT_V10" [results]="['berlin-inhabitants']"></app-map>
    <app-section [chapters]="['arbeitsraeume']"></app-section>
    <app-map [id]="'commercial'" [style]="mapBoxStyleEnum.LIGHT_V10" [results]="['POI-retail-commercial']"></app-map>
  </ng-container>

  <app-section-header #situation id="situation"
                      title="Aktuelle Verkehrssituation"></app-section-header>

  <ng-container>
    <app-section [chapters]="['verkehrsnetze']"></app-section>
    <app-map [id]="'traffic'" [style]="mapBoxStyleEnum.LIGHT_V10" [results]="['uber_mean_speed']"></app-map>
    <app-section [chapters]="['erreichbarkeit']"></app-section>
    <app-section [chapters]="['auslastung-der-infrastruktur']"></app-section>
  </ng-container>

  <app-section-header #experiment id="experiment"
                      title="Work in Progress"></app-section-header>

  <ng-container>
    <app-map [id]="'vbb-stations-s-u-bahn'"
             [style]="mapBoxStyleEnum.DARK_V10"
             [parametrizeOpacityEnabled]=true
             [results]="['vbb-stations-s-u-bahn', 'nextbike-stations', 'jelbi-stations']"></app-map>

    <app-map [id]="'all'"
             [style]="mapBoxStyleEnum.LIGHT_V10"
             [parametrizeOpacityEnabled]=true
             [resetEnabled]=true
             [flyableLocations]="[placeEnum.BRANDENBURG_GATE_STATION, placeEnum.ZOOLOGISCHER_GARTEN_STATION]"
             [results]="['berlin-inhabitants', 'POI-retail-commercial', 'uber_mean_speed']"></app-map>
  </ng-container>
</div>
<app-footer [sectionHeaders]="sectionHeaders"></app-footer>
