<div class="app-footer">
  <div>
    <p class="footer_heading">Story</p>
    <ul>
      <li *ngFor="let sectionHeader of sectionHeaders">
        <a routerLink="." [fragment]=sectionHeader.id>
          {{ sectionHeader.title }}
        </a>
      </li>
    </ul>
  </div>
  <div>
    <p class="footer_heading">Information</p>
    <ul>
      <li><a href="#" onClick="return false;">Über Uns</a></li>
      <li><a href="#" onClick="return false;">Impressum</a></li>
      <li><a href="#" onClick="return false;">AGBs</a></li>
      <li><a href="#" onClick="return false;">Datenschutz</a></li>
      <li><a href="https://github.com/fom-big-data/fom-big-data-consulting-berlin-mobility-frontend"
             target="_blank">Source Code</a></li>
    </ul>
  </div>
  <div>
    <p class="footer_heading">Kontakt</p>
    <ul>
      <li><a href="#" onClick="return false;">BMVI</a></li>
    </ul>
  </div>
</div>
