<div class="app-footer">
  <div>
    <p class="footer_heading">Menü</p>
    <ul>
      <li><a href="#">Einführung</a></li>
      <li><a href="#">Mobilitätsgesetz</a></li>
      <li><a href="#">Pendlerstau</a></li>
      <li><a href="#">Netzabdeckung</a></li>
      <li><a href="#">Micromobility Provider</a></li>
    </ul>
  </div>
    <div>
      <p class="footer_heading">Information</p>
      <ul>
        <li><a href="#">Über Uns</a></li>
        <li><a href="#">Impressum</a></li>
        <li><a href="#">AGBs</a></li>
        <li><a href="#">Datenschutz</a></li>
      </ul>
    </div>
  <div>
    <p class="footer_heading">Kontakt</p>
    <p> BMVI </p>
  </div>
</div>
