.landing-overlay {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 30%);
  pointer-events: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(8, 1fr);
  grid-gap: 20px;
  padding: 0 30px;
}

#card-story {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 6;
  grid-row-end: 8;
}

#card-dashboard {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 6;
  grid-row-end: 8;
}

mat-card {
  cursor: pointer;
  min-height: 70px;
  pointer-events: all;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

mat-card:hover {
  transform: scale(1.01);
}
