<div class="landing-overlay">
  <a href="#story_container">
    <p class="heading">Zur Mobilitätsanalyse</p>
    <p class="detail">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos </p>
  </a>
  <a href="q">
    <p class="heading">Zum interaktiven Mobilitätskompass</p>
    <p class="detail">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos </p>
  </a>
</div>
