:host ::ng-deep .app-header{
  background: #fff;
  box-shadow: 0 0 10px -5px #000;
  font-size: 12pt;
  font-family: Roboto;
  font-weight: Regular;
  padding-top: 25px;
  position: absolute;
  top: 100vh;
  width: 100%;
}

:host ::ng-deep .app-header.docked{
  position: fixed;
  top:0;
  left:0;
  right:0;
}

:host ::ng-deep .app-header > ul{
  margin: auto;
  width: 1200px;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}


:host ::ng-deep .app-header li a{
  color: #111;
  text-decoration: none;
  padding: 10px 25px;
  margin: 5px 5px;
  background: #fff;
  display: block;
}

:host ::ng-deep .app-header li.active a{
  color: #3D9970 !important;
}

:host ::ng-deep .app-header li:hover{
  transform: scale(1.05);
}

:host ::ng-deep .app-header li{
  display: block;
  transition: .1s ease-in-out transform;
}
