<div class="app-header">
  <ul [innerHTML]="tableOfContents">
    <li class="active"><a href="#">Einleitung</a></li>
    <li><a href="#">Mobilitätsgesetz</a></li>
    <li><a href="#">Gründe für Verkehr (Quellen von Verkehr)</a></li>

    <li><a href="#">Überblick Verkehrsnetz (Interaktive Ebenen)</a></li>
    <li><a href="#">Interaktive Isochrone verschiedene Verkehrsmittel</a></li>

    <li><a href="#">Pendlerstau</a></li>
    <li><a href="#">Netzabdeckung</a></li>
    <li><a href="#">Micromobility Provider</a></li>
  </ul>
</div>
