.placeholder{
  height: 500px;
  background: #666;
  font-family: Roboto;
  font-size: 40pt;
  font-weight: lighter;
  color: #777;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 50px;
}
