.quote-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ededed;
  margin: 150px 0;
  padding: 50px 0;
  font-size: 1.2em;
}

.quote-container::before{
  content: "\"";
  opacity: 0.2;
  font-size: 15em;
}


.quote-container .author{
  font-style: italic;
  padding-top: 20px;
  opacity: 0.8;
}

.title{
  text-align: center;
}
