.layer-label, .flyable-location-label {
  color: #757575;
  display: inline-block;
  width: 150px;
}

.flyable-location-button {
  display: block;
}

//
// Pop-Up
//

.mapboxgl-popup {
  max-width: 200px;
}

.legend {
  width: 100%;
  padding-top: 10px;
  font-size: 0.8em;
}

::ng-deep .legend p {
  font-size: 1.2em;
  font-weight: 400;
  margin: 0 2px;
  line-height: 1.2em;
}
::ng-deep .legend .gradient_container {
  width: 100%;
  height: 0.5em;
  margin: 2px;
  //background: linear-gradient(90deg, blue, green, red, black);
}

::ng-deep .legend .solid_container {
  width: 100%;
  height: 0.5em;
  display: flex;
  justify-content: stretch;
  //background: linear-gradient(90deg, blue, green, red, black);
}
::ng-deep .legend .multiLegendRow{
  overflow: hidden;
  height: 0em;
  opacity: 0;
  transition: all 0.3s ease-in;
}

::ng-deep .legend .multiLegendRow.visible{
  height: 3em;
  opacity: 1;
}

::ng-deep .legend .solid_container div{
  width: 1em;
  height: 0.5em;
  flex-grow: 1;
  margin: 2px;
  //background: linear-gradient(90deg, blue, green, red, black);
}
::ng-deep .legend ul.description {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
::ng-deep .legend ul.description li {
  list-style: none;
  padding: 0;
  margin-top: 0.2em;
  margin: 2px;
}



::ng-deep #marker-spreepark {
  background-image: url('../../../../assets/img/spreepark.jpg');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

::ng-deep #marker-tierpark {
  background-image: url('../../../../assets/img/tierpark.jpg');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

::ng-deep #marker-charlottenburg {
  background-image: url('../../../../assets/img/10623_charlottenburg.jpg');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

::ng-deep #marker-buckow-lichtenrade-mariendorf-marienfelde-tempelhof {
  background-image: url('../../../../assets/img/12107_mariendorf.jpg');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

::ng-deep #marker-kaulsdorf-mahlsdorf {
  background-image: url('../../../../assets/img/12623-mahlsdorf.jpg');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

::ng-deep #marker-tegel {
  background-image: url('../../../../assets/img/tegel.jpg');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

::ng-deep #marker-gewerbegebiet-britz {
  background-image: url('../../../../assets/img/tegel.jpg');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

::ng-deep #marker-spandau {
  background-image: url('../../../../assets/img/spandau.jpg');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

::ng-deep #marker-landsberger-allee {
  background-image: url('../../../../assets/img/landsberger_allee.jpg');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

::ng-deep #marker-charlottenburg-nord {
  background-image: url('../../../../assets/img/tegel.jpg');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

::ng-deep #marker-marzahnhellersdorf {
  background-image: url('../../../../assets/img/marzahn-hellersdorf.jpg');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

::ng-deep #marker-tec_marzahn {
  background-image: url('../../../../assets/img/tec_marzahn.jpg');
  background-size: cover;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}

::ng-deep #marker-tec_siemensstadt {
  background-image: url('../../../../assets/img/tec_siemensstadt.jpg');
  background-size: cover;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}

::ng-deep #marker-tec_adlershof {
  background-image: url('../../../../assets/img/tec_adlershof.jpg');
  background-size: cover;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}

::ng-deep #marker-tec_humboldthain {
  background-image: url('../../../../assets/img/tec_humboldt.jpg');
  background-size: cover;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}

::ng-deep #marker-tec_euref {
  background-image: url('../../../../assets/img/tec_euref.jpg');
  background-size: cover;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}

::ng-deep #marker-tec_borsigturm {
  background-image: url('../../../../assets/img/tec_borsigturm.jpg');
  background-size: cover;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}

::ng-deep #marker-tec_htw {
  background-image: url('../../../../assets/img/tec_htw.jpg');
  background-size: cover;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}

::ng-deep #marker-tec_mariendorf {
  background-image: url('../../../../assets/img/tec_mariendorf.jpg');
  background-size: cover;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}



::ng-deep #marker-westhafen {
  background-image: url('../../../../assets/img/tegel.jpg');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

::ng-deep #marker-s-poelchaustrasse,
::ng-deep #marker-s-springpfuhl,
::ng-deep #marker-s-landsberger-allee,
::ng-deep #marker-s-storkower-strasse {
  background-image: url('../../../../assets/img/sbahn.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

::ng-deep #marker-u-magdalenenstrasse {
  background-image: url('../../../../assets/img/ubahn.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

::ng-deep #marker-tram-zechliner-rhinstrasse,
::ng-deep #marker-tram-genslerstrasse,
::ng-deep #marker-tram-arendsweg,
::ng-deep #marker-tram-gewerbepark-georg-knorr,
::ng-deep #marker-tram-landsgerber-allee-rhinstrasse,
::ng-deep #marker-tram-dingelstaedter-strasse,
::ng-deep #marker-tram-marzahner-promenade,
::ng-deep #marker-tram-gewerbepark-georg-knorr,
::ng-deep #marker-tram-herzbergstrasse-industriepark,
::ng-deep #marker-tram-herzbergstrasse-siegfriedstrasse,
::ng-deep #marker-tram-ev-krankenhaus-keh,
::ng-deep #marker-tram-beilsteiner-strasse,
::ng-deep #marker-tram-reinhardsbrunner-strasse,
::ng-deep #marker-tram-meeraner-strasse,
::ng-deep #marker-tram-kleingartenanlage-bielefeldt {
  background-image: url('../../../../assets/img/tram.png');
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}
