.layer-label, .flyable-location-label {
  color: #757575;
  display: inline-block;
  width: 150px;
}

.flyable-location-button {
  display: block;
}

//
// Pop-Up
//

.mapboxgl-popup {
  max-width: 200px;
}

//
// Legend
//

.legend {
  width: 100%;
  padding-top: 10px;
  font-size: 0.8em;
}

::ng-deep .legend p {
  font-size: 1.2em;
  font-weight: 400;
  margin: 0 2px;
  line-height: 1.2em;
}

::ng-deep .legend .gradient_container {
  width: 100%;
  height: 0.5em;
  margin: 2px;
  //background: linear-gradient(90deg, blue, green, red, black);
}

::ng-deep .legend .solid_container {
  width: 100%;
  height: 0.5em;
  display: flex;
  justify-content: stretch;
  //background: linear-gradient(90deg, blue, green, red, black);
}

::ng-deep .legend .multiLegendRow {
  overflow: hidden;
  height: 0;
  opacity: 0;
  transition: all 0.3s ease-in;
}

::ng-deep .legend .multiLegendRow.visible {
  height: 3em;
  opacity: 1;
}

::ng-deep .legend .solid_container div {
  width: 1em;
  height: 0.5em;
  flex-grow: 1;
  margin: 2px;
  //background: linear-gradient(90deg, blue, green, red, black);
}

::ng-deep .legend ul.description {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

::ng-deep .legend ul.description li {
  list-style: none;
  padding: 0;
  margin: 0.2em 2px 0;
}

//
// Markers
//

::ng-deep .mapboxgl-popup {
  z-index: 11;
}

::ng-deep .mapboxgl-marker {
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
}

::ng-deep .mapboxgl-marker:hover {
  border: 5px solid white;
}

// General

::ng-deep div[id^='marker-'] {
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

::ng-deep div[id^='marker-tec'],
::ng-deep div[id^='marker-bus-'],
::ng-deep div[id^='marker-tram-'] {
  background-size: cover;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
}

// Groups (used in problems)

::ng-deep div[id^='marker-auto-'],
::ng-deep div[id^='marker-light-rail-'],
::ng-deep div[id^='marker-subway-'],
::ng-deep div[id^='marker-intermodal-'] {
  opacity: 0.0;
}

// Groups (used in whitespots)

::ng-deep div[id^='marker-bus-'] {
  background-image: url('../../../../assets/img/bus.png');
}

::ng-deep div[id^='marker-s-'] {
  background-image: url('../../../../assets/img/sbahn.png');
}

::ng-deep div[id^='marker-u-'] {
  background-image: url('../../../../assets/img/ubahn.png');
}

::ng-deep div[id^='marker-tram-'] {
  background-image: url('../../../../assets/img/tram.png');
}

//
//
//

::ng-deep #marker-spreepark {
  background-image: url('../../../../assets/img/spreepark.jpg');
}

::ng-deep #marker-tierpark {
  background-image: url('../../../../assets/img/tierpark.jpg');
}

//
// Understanding
//

// Lebensraeume

::ng-deep #marker-habitat-charlottenburg {
  background-image: url('../../../../assets/img/charlottenburg.jpg');
}

::ng-deep #marker-habitat-buckow-lichtenrade-mariendorf-marienfelde-tempelhof {
  background-image: url('../../../../assets/img/mariendorf.jpg');
}

::ng-deep #marker-habitat-kaulsdorf-mahlsdorf {
  background-image: url('../../../../assets/img/mahlsdorf.jpg');
}

// Arbeitsraeume

::ng-deep #marker-working-space-siemensstadt {
  background-image: url('../../../../assets/img/siemensstadt.jpg');
}

::ng-deep #marker-working-space-adlershof {
  background-image: url('../../../../assets/img/adlershof.jpg');
}

::ng-deep #marker-working-space-humboldthain {
  background-image: url('../../../../assets/img/humboldthain.jpg');
}

::ng-deep #marker-working-space-euref {
  background-image: url('../../../../assets/img/euref.jpg');
}

::ng-deep #marker-working-space-borsigturm {
  background-image: url('../../../../assets/img/borsigturm.jpg');
}

::ng-deep #marker-working-space-marzahn {
  background-image: url('../../../../assets/img/marzahn.jpg');
}

::ng-deep #marker-working-space-htw {
  background-image: url('../../../../assets/img/htw.jpg');
}

::ng-deep #marker-working-space-mariendorf {
  background-image: url('../../../../assets/img/tec_mariendorf.jpg');
}

//
// Visibility
//

::ng-deep #marker-visibility-fom {
  background-image: url('../../../../assets/img/fom.jpg');
}

::ng-deep #marker-visibility-zoologischer-garten {
  background-image: url('../../../../assets/img/zoologischer-garten.jpg');
}

::ng-deep #marker-visibility-siegessaeule {
  background-image: url('../../../../assets/img/siegessaeule.jpg');
}

//
// Problems
//

// Auto

::ng-deep #marker-auto-franzoesisch-buchholz {
  background-image: url('../../../../assets/img/franzoesisch-buchholz.jpg');
}

::ng-deep #marker-auto-kladow {
  background-image: url('../../../../assets/img/kladow.jpeg');
}

::ng-deep #marker-auto-charlottenburg {
  background-image: url('../../../../assets/img/charlottenburg.jpg');
}

// S-Bahn

::ng-deep #marker-light-rail-gesundbrunnen {
  background-image: url('../../../../assets/img/gesundbrunnen.jpg');
}

::ng-deep #marker-light-rail-friedrichstrasse {
  background-image: url('../../../../assets/img/friedrichstrasse.jpeg');
}

::ng-deep #marker-light-rail-ostkreuz {
  background-image: url('../../../../assets/img/ostkreuz.jpg');
}

::ng-deep #marker-light-rail-neukoelln {
  background-image: url('../../../../assets/img/neukoelln.jpg');
}

::ng-deep #marker-light-rail-charlottenburg-nord {
  background-image: url('../../../../assets/img/charlottenburg.jpg');
}

::ng-deep #marker-light-rail-weissensee {
  background-image: url('../../../../assets/img/weissensee.jpg');
}

// U-Bahn

::ng-deep #marker-subway-friedrichshain {
  background-image: url('../../../../assets/img/friedrichshain.jpg');
}

::ng-deep #marker-subway-mitte {
  background-image: url('../../../../assets/img/mitte.jpg');
}

::ng-deep #marker-subway-charlottenburg-wilmersdorf {
  background-image: url('../../../../assets/img/charlottenburg-wilmersdorf.jpg');
}

::ng-deep #marker-subway-steglitz-zehlendorf {
  background-image: url('../../../../assets/img/steglitz-zehlendorf.jpg');
}

::ng-deep #marker-subway-spandau {
  background-image: url('../../../../assets/img/spandau.jpg');
}

::ng-deep #marker-subway-weissensee {
  background-image: url('../../../../assets/img/weissensee.jpg');
}

// Intermodal

::ng-deep #marker-intermodal-gesundbrunnen {
  background-image: url('../../../../assets/img/gesundbrunnen.jpg');
}

::ng-deep #marker-intermodal-arnimkiez {
  background-image: url('../../../../assets/img/arnimkiez.jpg');
}

::ng-deep #marker-intermodal-torstrasse {
  background-image: url('../../../../assets/img/torstrasse.jpg');
}

::ng-deep #marker-intermodal-potsdamer-platz {
  background-image: url('../../../../assets/img/potsdamer-platz.jpg');
}

::ng-deep #marker-intermodal-ostkreuz {
  background-image: url('../../../../assets/img/ostkreuz.jpg');
}

::ng-deep #marker-intermodal-baumschulenweg {
  background-image: url('../../../../assets/img/baumschulenweg.jpeg');
}

::ng-deep #marker-intermodal-neukoelln {
  background-image: url('../../../../assets/img/neukoelln.jpg');
}

::ng-deep #marker-intermodal-kladow {
  background-image: url('../../../../assets/img/kladow.jpeg');
}

::ng-deep #marker-intermodal-mueggelheim {
  background-image: url('../../../../assets/img/mueggelheim.jpeg');
}

::ng-deep #marker-intermodal-franzoesisch-buchholz {
  background-image: url('../../../../assets/img/franzoesisch-buchholz.jpg');
}

::ng-deep #marker-intermodal-moabit {
  background-image: url('../../../../assets/img/moabit.jpg');
}

::ng-deep #marker-intermodal-graefekiez {
  background-image: url('../../../../assets/img/graefekiez.jpg');
}

::ng-deep #marker-intermodal-alt-hohenschoenhausen {
  background-image: url('../../../../assets/img/alt-hohenschoenhausen.jpg');
}

//
// Whitespots
//

// Spandau

::ng-deep #marker-whitespot-persona-ben {
  background-image: url('../../../../assets/img/persona-ben.png');
}

::ng-deep #marker-whitespot-spandau {
  background-image: url('../../../../assets/img/spandau.jpg');
}

::ng-deep #marker-label-polizeiakademie {
  background-image: url('../../../../assets/img/polizeiakademie.jpg');
}

// Charlottenburg Nord

::ng-deep #marker-whitespot-persona-peter {
  background-image: url('../../../../assets/img/persona-peter.png');
}

::ng-deep #marker-whitespot-hauptbahnhof {
  background-image: url('../../../../assets/img/hauptbahnhof.jpg');
}

::ng-deep #marker-whitespot-charlottenburg-nord {
  background-image: url('../../../../assets/img/tegel.jpg');
}

::ng-deep #marker-whitespot-beusselstrasse {
  background-image: url('../../../../assets/img/beusselstrasse.jpg');
}

::ng-deep #marker-whitespot-jakob-kaiser-platz {
  background-image: url('../../../../assets/img/jakob-kaiser-platz.jpg');
}

// Gewerbegebiet Gradestrasse

::ng-deep #marker-whitespot-persona-tim {
  background-image: url('../../../../assets/img/persona-tim.png');
}

::ng-deep #marker-whitespot-gewerbegebiet-gradestrasse {
  background-image: url('../../../../assets/img/gewerbegebiet-gradestrasse.jpeg');
}

// Gewerbegebiet Landsberger Allee

::ng-deep #marker-whitespot-persona-hanna {
  background-image: url('../../../../assets/img/persona-hanna.png');
}

::ng-deep #marker-whitespot-landsberger-allee-close,
::ng-deep #marker-whitespot-landsberger-allee {
  background-image: url('../../../../assets/img/landsberger_allee.jpg');
}

// Gewerbegebiet Marzahn-Hellersdorf

::ng-deep #marker-whitespot-persona-birgit {
  background-image: url('../../../../assets/img/persona-birgit.png');
}

::ng-deep #marker-whitespot-marzahn-hellersdorf-close,
::ng-deep #marker-whitespot-marzahn-hellersdorf {
  background-image: url('../../../../assets/img/marzahn-hellersdorf.jpg');
}
