.layer-label, .flyable-location-label {
  color: #757575;
  display: inline-block;
  width: 150px;
}

.flyable-location-button {
  display: block;
}


//
// Pop-Up
//

.mapboxgl-popup {
  max-width: 200px;
}

::ng-deep #marker-spreepark {
  background-image: url('../../../../assets/img/spreepark.jpg');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

::ng-deep #marker-tierpark {
  background-image: url('../../../../assets/img/tierpark.jpg');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

::ng-deep #marker-tegel {
  background-image: url('../../../../assets/img/tegel.jpg');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
