mat-toolbar {
  background: white;

  box-shadow: 0 10px 20px -20px #000;
  border-bottom: 3px solid rgba(255, 255, 255, 0);
  transition: 0.2s ease-out background, border;

  z-index: 4;
}

$story-container-margin-top: 100px;
$toolbar-height: 64px;

app-section-header {
  padding-top: 1.5 * $toolbar-height;
  margin-top: - 1.5 * $toolbar-height;
  display: inline-block
}

.sticky-header {
  position: fixed;
  top: 26px;
  width: 100%;
}

.story-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 20px;
  padding: 0 30px;

  margin-top: $story-container-margin-top;
}

.sticky-container {
  margin-top: $story-container-margin-top + $toolbar-height !important;
}

.text-container {
  grid-column: 1;
  padding: 25px;
}

.map-container {
  grid-column: 2;

  height: 500px;
  top: 150px;
  position: sticky;
  position: -webkit-sticky;

  padding-top: 120px;
}

.sticky-map {
  //grid-column-start: 2;
  //grid-column-end: 2;

  position: fixed;
  top: 200px;
  width: 100%;
}
