/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  color: #111;
  min-height: 200vh;
  font-family: Merriweather;
  line-height: 1.5em;
  overflow-x: hidden;
}

h1 {
  font-family: Roboto;
  font-size: 40pt;
}

h2 {
  font-family: Roboto;
  font-size: 18pt;
}

.mapboxgl-ctrl-top-left,
.mapboxgl-ctrl-bottom-left,
.mapboxgl-ctrl-bottom-right {
  display: none;
}
